.PlayerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  .color-sample {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
}

.Init {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .player-list {
    display: flex;
    flex-direction: row;
  }
  .map-list {
    display: grid;
    grid-template-columns: 20dvw 20dvw;
    grid-auto-flow: row;
    button {
      padding: 0;
      &.active {
        border: 3px solid lime;
      }
      canvas {
        width: 100%;
        // height: 100%;
      }
    }
  }
}